
.vs/mornevwyk.github.io/config/applicationhost.config
.vs/mornevwyk.github.io/FileContentIndex/2d2dabab-a1df-4d9b-80ba-d7739f735025.vsidx
.vs/mornevwyk.github.io/FileContentIndex/6324795a-0dc5-4093-9e64-5ce3ccaf5744.vsidx
.vs/mornevwyk.github.io/FileContentIndex/96dd0c4f-cf8b-4234-a796-f72f439dd203.vsidx
*.vsidx
*.lock
.vs/mornevwyk.github.io/v17/.wsuo
*.sqlite
.vs/VSWorkspaceState.json
