*{
    border: 0px solid black;
    margin:0;

}

header{
    position: fixed;
    height: 30px;
    width:100%;
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    z-index:100;
}

header #name{
    margin:12px;
}

nav a{
    margin-right:12px;
    transition: 0.5s;
}

nav a:hover{
    color:#CE6512;
}

.container{
    display:grid;
    min-height: 300px;
    max-width: 100%;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr;
    background-color: #D9D9D9;
}

.container:first-of-type{
    background-image: url("mountains.jpg");
    background-size: cover;
    background-position-y:bottom;
    width:100%;
    height:100%;
}

.container:nth-child(3){
    min-height:50px;
    background-color: #1B1B1B;
    color: #D9D9D9;
}

/* .container:nth-child(5){
    background-color:#1B1B1B;
    width:100%;
    height:100%;
    color:#D9D9D9;
} */

.container:nth-child(5){
    background-image: url("stars.jpg");
    background-size: cover;
    background-position-y:center;
    width:100%;
    height:100%;
    color:#D9D9D9;
}

.container:last-of-type{
    background-image: url("forest.jpg");
    background-size: cover;
    background-position-y:center;
    width:100%;
    height:100%;
}

#title{
    color:#D9D9D9;
    grid-column: 2 / span 2;
    grid-row: 2;
    justify-self: start;
    align-self: end;
}

#sub-title{
    color:#CE6512;
    grid-column: 2 / span 2;
}

#portrait{
    padding-right:12px;
    grid-column:1;
    grid-row:2;
    justify-self: end;
    align-self: end;
    position:relative;
    width:175px;
    height:200px;
    object-fit: cover;
    object-position: 85%;
    bottom:-35px;
}

.container-title{
    justify-self: end;
    align-self: start;
    grid-column: 1;
    grid-row: 1;
    padding-top:12px;
    margin-top:12px;
    margin-right:12px;
}

.container-content{
    grid-column:2;
    grid-row:1;
    margin-top:0px;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

li{
    margin-top:12px;
    padding:12px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(2.5px);
    border-radius: 6px;
}

li:last-child{
    margin-bottom:12px;
}

.contacts{
    display: flex;
    justify-content: space-around;
}

.contacts a{
    font-size: 2rem;
    transition: 0.5s;
}

.contacts a:hover{
    color: #CE6512;
}

a{
    text-decoration: none;
    color:#1B1B1B
}

.highlight{
    color:#CE6512
}

.hover-highlight p b{
    transition: 0.5s;
}

.hover-highlight:hover p b{
    color:#CE6512;
}