:root{
    --primary-color:#393e41;
    --secondary-color:#f6f7eb;
    --alternate-color:#e94f37;

}

*{
    box-sizing:border-box;
    font-family: Helvetica, sans-serif;
}
body, main{
    padding:0;
    margin:0;
    border:0;
    background-color:var(--primary-color);
    color:var(--secondary-color);
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    top:0;
    position: fixed;
    height:2em;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius:0 0 8px 8px;
    background-color:var(--alternate-color);
    
}

header a{
    color:var(--primary-color);
}

.hero{
    height: 100vh;
    width:70%;
    margin: 0 auto;
    text-align:center;
}

.hero h1{
    padding-top:30vh;
    margin-bottom:0;
    padding-bottom: 0;
}

.hero h1::before{
    content:"Hi, I'm ";
    font-size: 1.5rem;
}

.hero h3{
    padding-top:0;
    margin-top:2px;
}


#about-section{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:row-reverse;
    align-items: center;
    justify-content: center;

}

.profile-image{
    width:400px;
    height:400px;
    padding:20px;
}

#about-text{
    text-align: justify;
    text-justify:inter-word;
    padding: 0 15px;
}

#projects-section{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#projects-section h3{
    grid-column: 1 /-1;
    text-align:center;
}

.project-card{
    text-align: center;
}

.project-card h4{
    padding-top: 4px;
    margin-top: 0;
}

.project-card img{
    padding: 10px 5px;
    margin-top: 4px 4px;
    width:75%;
    aspect-ratio: 1;
}

#publications-section{
    width:80%;
    margin: 0 auto;
}

footer{
    text-align:center;
    position:relative;
    margin-top:50px;
    margin-bottom:0;
    padding-top:10px;
    padding-bottom:0;
    bottom:0;
    border-radius:8px 8px 0 0;
    border:1px solid var(--alternate-color);
    background-color:var(--alternate-color);
    color:var(--primary-color);
}

@media (max-width:600px){
    #about-section{
        width:100%;
        height:100vh;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;    
    }
    .profile-image{
        width:200px;
        height:200px;
        padding:10px;
    }

    #projects-section{
        grid-template-columns: 1fr;
    }
}


